---
- name: main | apt-cache update
  apt:
    update_cache=yes
    cache_valid_time={{ apt_cache_valid_time }}

- name: main | install ansible apt dependencies
  action: apt pkg={{ item }} state=latest
  with_items: apt_pkg

- name: main | add repository
  apt_repository: "repo='{{ item.repo_url }}' state=present"
  with_items: apt_repo
  when: apt_repo is defined
  register: apt_require_update

- name: main | add repository key
  apt_key: "id='{{ item.key_id }}' url='{{ item.key_url }}' state=present"
  with_items: apt_repo
  when: item.key_url is defined
  register: apt_require_update

- name: main | apt-cache update (changed)
  apt: update_cache=yes
  when: apt_require_update | changed
